<div class="sandbox">
  <h1>Sandbox</h1>

  <h2>Cards</h2>
  <div>
    <div class="row">
      <app-card title="Total Sales" pillText="+10%" iconName="report-analytics" iconClass="green" pillClass="green backg bg-light-green" class="col-md-3 col-sm-6 mb-3"></app-card>
      <app-card title="Total Views" pillText="-7%" iconName="flame" iconClass="purple" pillClass="red bg-light-red" class="col-md-3 col-sm-6 mb-3"></app-card>
      <app-card title="Unique Visitors" pillText="~10%" iconName="device-desktop-analytics" iconClass="blue" pillClass="pink bg-light-pink" class="col-md-3 col-sm-6 mb-3"></app-card>
      <app-card title="Bounce Rate" pillText="33%" iconName="square-x" iconClass="red" pillClass="blue bg-light-blue" class="col-md-3 col-sm-6 mb-3"></app-card>
    </div>
    Some text after the cards
    <div class="mb-3"></div>
  </div>

  <h2>Tabler Icons</h2>
  <i-tabler name="camera" style="height: 50px; width: 50px;"></i-tabler>
  <i-tabler name="heart" style="color: red;"></i-tabler>
  <i-tabler name="brand-github" class="someclass"></i-tabler>

  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>

</div>
