<div class="sandbox">
  <h1>Sandbox</h1>

  <h2>Tabler Icons</h2>
  <i-tabler name="camera" style="height: 50px; width: 50px;"></i-tabler>
  <i-tabler name="heart" style="color: red;"></i-tabler>
  <i-tabler name="brand-github" class="someclass"></i-tabler>

  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>
  Test <br>

</div>
