<nav class="navbar">
  <ul class="navbar-left">
    <li class="navbar-toggle">
      <a class="navbar-toggle-link link-dark" (click)="toggle()">
        <i-tabler name="menu-2"></i-tabler>
      </a>
    </li>
  </ul>
  <ul class="navbar-right">
    <li class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false" title="options">
        <img src="https://randomuser.me/api/portraits/men/22.jpg" alt="" width="32" height="32"
          class="rounded-circle me-1">
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </li>
  </ul>
</nav>
