.sidebar {
  position: fixed;
  z-index: 999;
}

.shell-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: var(--sidebar-width);
}

.shell-right-expanded {
  padding-left: var(--sidebar-width-expanded);
}

.content {
  padding-top: 1rem;
}
