
<div class="sidebar" [ngClass]="{'expanded': expanded}">
  <div class="sidebar-brand-container">
    <div class="sidebar-brand">
      <div class="sidebar-logo-container">
        <img class="sidebar-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/768px-Bootstrap_logo.svg.png"
        alt="Logo">
      </div>
      <span class="sidebar-brand-text">Brand</span>
      <a href="#" class="sidebar-closer">
        <div class="sidebar-closer-icon">
          <i class="ti ti-arrow-up-circle"></i>
        </div>
      </a>
    </div>
  </div>
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <span class="sidebar-icon-container blue">
        <i-tabler name="dashboard" class="sidebar-icon"></i-tabler>
      </span>
      <span>Dashboard</span>
    </li>
    <li class="sidebar-item">
      <span class="sidebar-icon-container orange">
        <i-tabler name="car" class="sidebar-icon"></i-tabler>
      </span>
      <span>Cars</span>
    </li>
  </ul>
</div>
